@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.highlight {
/*color: #417394;*/
background: #FFEB90 none repeat-x;
}
body {
    background-color: rgb(228, 232, 240);
}
.quote-box {
    margin-top: 1em;
    margin-bottom: 1em;
    border-color:  rgb(200, 200, 200);
    border-width: 2px;
}
.quote-head {
    background-color: rgb(232, 237, 245);
}
.quote-text {
    margin-left: 1em;
    background-color: rgb(255, 255, 255);
}
/* This file is for your main application CSS */
